@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05 rem;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  
  .typing-animation {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typing 1.5s steps(30, end) forwards
  }

  .typing-animation_1{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typing 1.5s steps(30, end) forwards
  }

  .ProjectCard{
    transition: transform 0.3s;
  }
  .ProjectCard:hover{
    transform: scale(1.2);
  }
  .ProjectCard :only-child{
    padding: 3px;
  }

  

  
  
 
  
